.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }

  .modal-btn {
    width: 100%;
  }
  
  .modal-main {
    position:fixed;
    background: rgb(2, 26, 78);
    width: auto;
    padding: 20px;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    margin: auto;
  }  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }