


.jumbotron {
    background-image:url("https://coolbackgrounds.io/images/backgrounds/sea-edge-311c5cd5.png");
    height: auto;
    padding: 50px;
    margin-top: 150px;
    border-radius: 25px;
    
}