.card-btn {
  border-radius: 50%;
  height: 50px;
  width: 50px;

  border: none;
  bottom: 10%;
  color: #FFF;
  font-size: 15px;
  cursor: pointer;
  font-family: FontAwesome;
  outline: none;
}

.profile {
  left: 10px;
  background: #E53935;
}

.profile::after {
  content: "\f165";
}



.pick::after {
  content: "\f164";
}

.pick:hover::after, .profile:hover::after {
  animation: iconBounce .57s 1;
}

@keyframes iconBounce {
  0% {
    font-size: 24px;
  }
  
   50% {
    font-size: 28px;
  }
  
  100% {
    font-size: 24px;
  }

}