.VideoBox {
  padding-top: 50px;
  background: rgb(6, 28, 53);
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  background-image: url("https://coolbackgrounds.io/images/backgrounds/sea-edge-311c5cd5.png");
}
