.VideoBox {
  padding-top: 50px;
  background: rgb(6, 28, 53);
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  background-image: linear-gradient( rgb(5, 0, 70),rgb(230, 229, 243));
}
